* {
    margin: 0;
    padding: 0;
}

.color-red {
    color: rgb(255, 97, 79);
}

.main-content .italic-blue {
    font-style: italic;
    color: aqua;
}

div {
    color: initial;
}

.pai.filho {
    color: rgb(0, 136, 255);
}

.pai > .filho-2{
    color: brown;
}

.irmao h1~p {
    color: aquamarine;
}

.irmao h1+p {
    color: rgb(252, 143, 1);
}

[meu-atributo="valor"] {
    color: blueviolet;
}

[meu-atributo2*="or"] {
    color: rgb(255, 3, 213);
}

[meu-atributo3~="valor3"] {
    color: rgb(0, 255, 4);
}

[meu-atributo4^="va"] {
    color: rgb(255, 208, 0);
}

[meu-atributo5$="5"] {
    color: rgb(255, 0, 0);
}